@model PhotoCritic.Models.OpinionatedIndividualPhoto

@{
    ViewBag.Title = "Likes";
}

<h2>Likes</h2>

<p> Comments:
    @foreach (var comment in ViewBag.allComments)
    {
        <li>
            @comment
        </li>
    }
</p>

<p>
    Reason breakdown:
    @foreach (var reason in ViewBag.reasons)
    {
        <li>
            @reason
        </li>
    }
</p>

<p>
    People:
    @foreach (var person in ViewBag.People)
    {
        <li>
            @person
        </li>
    }
</p>