@model PhotoCritic.Models.Photo

@{
    ViewBag.Title = "Likes";
}

<h2>Likes</h2>

<div class="row">

    <img src="@Url.Action("GetAgeChartDataLike", new { id = Model.Id})" />

</div>

<p>
    @Html.ActionLink("Feedback", "LikesCommentsReasons", new { id = Model.Id })
</p>