@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PhotoCritic</h1>
    <div><h4>"A picture is worth a thousand words" ~ Frederick R. Barnard</h4></div>
    </br>
    <p class="lead"> What does yours say... and to whom? Find out now by getting started with PhotoCritic. If you don't have any photos to upload, don't worry. You still have an opinion. We need those as well. Go ahead and register! </p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/ProjectImages/home2.jpeg" alt="Picture" width="365" />
    </div>
    <div class="col-md-4">
        <img src="~/ProjectImages/home1.jpeg" alt="Picture" width="365" />
    </div>
    <div class="col-md-4">
        <img src="~/ProjectImages/home3.jpeg" alt="Picture" width="365" />
    </div>
</div>